O bot debe conectarse a unha base de datos mysql e consultar os teus datos.
* Host: 193.144.42.124
* Porto: 33306 (ollo! Non é o porto default)
* Password: 1Super-Password
* Usuario: o teu nome Nerea

In [1]:
%load_ext sql

In [2]:
user = 'Nerea'
password = '1Super-Password'
connection_string = f"mysql+pymysql://{user}:{password}@193.144.42.124:33306/inferno"
%sql $connection_string

'Connected: Nerea@inferno'

In [3]:
%sql SELECT * FROM admision WHERE nome LIKE '{user}'

 * mysql+pymysql://Nerea:***@193.144.42.124:33306/inferno
1 rows affected.

[(16, 'Nerea', 7, 'violencia')]

In [4]:
import pymysql

# Define los parámetros de conexión
user = 'Nerea'
password = '1Super-Password'
host = '193.144.42.124'
port = 33306
database = 'inferno'

# Establece la conexión a la base de datos
connection = pymysql.connect(
    user=user,
    password=password,
    host=host,
    port=port,
    database=database
)

# Crea un cursor para ejecutar la consulta
cursor = connection.cursor()

# Ejecuta la consulta SQL
query = f"SELECT * FROM admision WHERE nome LIKE '{user}'"
cursor.execute(query)

# Obtén el resultado de la consulta
resultado = cursor.fetchall()

# Manipula el resultado según sea necesario
mensaje = []
for fila in resultado:
    mensaje.append(f"Hola {fila[1]}. Has ido al infierno por {fila[3]}")

# Cierra el cursor y la conexión
cursor.close()
connection.close()

# Imprime el mensaje resultante
for m in mensaje:
    print(m)

Hola Nerea. Has ido al infierno por violencia